<div class="col-md-6">
  <center>
    <%= image_tag question.answers.first.picture, class: 'pic' %>
    <h4><%= question.answers.first.body %></h4>
    <% if question.clicks.any? %>
    <% if question.clicks.find_by_user_id(current_user.id)  %>
      <p class='vote-1-<%= question.id %>'>
         <%= question.answers.first.votes %>
      </p>
    <% end %>
    <% end %>
  </center>
</div>
