<div class="col-md-6">
  <center>
    <%= image_tag question.answers.last.picture, class: 'pic' %>
    <h4><%= question.answers.last.body %></h4>
    <% if question.clicks.any? %>
      <p class='vote-2-<%= question.id %>'>
        <%= question.answers.last.votes %>
      </p>
    <% end %>
    </center>
</div>
